<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  
  <!-- Demo1Servlet名称对应的java类是 wubin.Demo1Servlet -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Demo1Servlet</servlet-name>
    <servlet-class>servlet.Demo1Servlet</servlet-class>
    
    <!-- 服务器启动的时候创建该Servlet ,数字代表启动数序,从2开始 -->
	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Demo2Servlet</servlet-name>
    <servlet-class>servlet.Demo2Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestDownloadChineseFileNameServlet</servlet-name>
    <servlet-class>servlet.TestDownloadChineseFileNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetFormDataServlet</servlet-name>
    <servlet-class>servlet.GetFormDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UIServlet</servlet-name>
    <servlet-class>cookie.UIServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cookie.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>cookie.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Session1Servlet</servlet-name>
    <servlet-class>session.Session1Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Session2Servlet</servlet-name>
    <servlet-class>session.Session2Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAllProductServlet</servlet-name>
    <servlet-class>demo1.web.ShowAllProductServlet</servlet-class>
  </servlet>



  <!--  Demo1Servlet的影射地址是 /servlet/Demo1Servlet -->
  <servlet-mapping>
    <servlet-name>Demo1Servlet</servlet-name>
    <url-pattern>/servlet/Demo1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demo2Servlet</servlet-name>
    <url-pattern>/servlet/Demo2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestDownloadChineseFileNameServlet</servlet-name>
    <url-pattern>/servlet/TestDownloadChineseFileNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFormDataServlet</servlet-name>
    <url-pattern>/servlet/GetFormDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UIServlet</servlet-name>
    <url-pattern>/servlet/UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/servlet/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session1Servlet</servlet-name>
    <url-pattern>/servlet/Session1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session2Servlet</servlet-name>
    <url-pattern>/servlet/Session2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllProductServlet</servlet-name>
    <url-pattern>/servlet/ShowAllProductServlet</url-pattern>
  </servlet-mapping>	
  
  <servlet>
  	<servlet-name>CodeServlet</servlet-name>
  	<servlet-class>demos.demo2.web.CodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login2Servlet</servlet-name>
    <servlet-class>servlet_interface.my_interface.Login2Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>CodeServlet</servlet-name>
  	<url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login2Servlet</servlet-name>
    <url-pattern>/login2</url-pattern>
  </servlet-mapping>
  
  <!--  欢迎地址 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
